<div class="contestPage clearfix">
    <h2>Enter for a Chance to Win Pat McGrath's Sold-Out Gold Eyeshadow</h2>

    <div class="contestFloat contestLeft">
      <%= image_tag "contest/Daria.jpg", class: "contestImage" %>
      <div class="floatRightMobile">
        <%= image_tag "product/productImage1.jpg", class: "contestProductImage" %>
        <%= image_tag "product/productImage2.jpg", class: "contestProductImage" %>
        <%= image_tag "product/productImage3.jpg", class: "contestProductImage" %>
      </div>
    </div>
    <div class="contestFloat contestRight">
      <%= image_tag "product/productImage1.jpg", class: "contestProductImage", id: "desktopProductImage" %>
      <%= image_tag "product/productImage2.jpg", class: "contestProductImage", id: "desktopProductImage" %>
      <%= image_tag "product/productImage3.jpg", class: "contestProductImage", id: "desktopProductImage" %>
      <div class="success-hide">
        <p class="contestCopy">When it debuted with a limited release of 1000 pieces last week, Gold 001 sold out in minutes. Now, Pat McGrath and Vogue are giving away a few more pots of the rare and glimmering pigment.</p>

        <%= form_for Contest.new do |f| %>
          <%= f.text_field :first_name, placeholder: 'FIRST NAME', class: 'validateThis' %>
          <%= f.text_field :last_name, placeholder: 'LAST NAME', class: 'validateThis' %>
          <%= f.text_field :email, placeholder: 'EMAIL', class: 'validateThis' %>
          <div id="form_errors"></div>
          <p class="contestCheckbox"><%= check_box_tag :policy %> <%= label_tag :policy, "I accept and agree to the T&C. By entering this sweepstakes I agree to receive newsletters from Vogue & Pat McGrath Labs." %></p>
          <%= f.submit "click to win", class: 'contest-submit' %>
        <% end %>
        <p class="payment-errors contest-error"><span></span></p>
        <div class="logoContainer">
            <%= image_tag "contest/VogueLogo.png", class: "vogueLogo" %>
            <%= image_tag "contest/PatLogo.png", class: "patLogo" %>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function(){


    });
    </script>

</div>
<footer>
  <a class="list-group-item" target="_blank" href="https://instagram.com/patmcgrathreal/"><i class="fa fa-instagram"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://www.facebook.com/PatMcGrathReal"><i class="fa fa-facebook-square"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://twitter.com/patmcgrathreal"><i class="fa fa-twitter"></i>&nbsp;</a>
  <div class="footerBranding">
    &#35;Gold001 <span>|</span> <a href="mailto:contact@patmcgrath.com" target="_top">Contact</a></div>
</footer>
