<div class="staticBackgroundLaunch">
</div>
<div class="instaFeed clearfix">
  <div class="emptySpace">

  </div>
  <div class="instaImage firstInsta">
    <%= image_tag "insta1.jpg", class: "" %>
  </div>
  <div class="instaImage">
    <%= image_tag "insta1.jpg", class: "" %>
  </div>
  <div class="instaImage lastInsta noMobile">
    <%= image_tag "insta2.jpg" %>
  </div>
  <div class="instaImageLarge firstInsta">
    <%= image_tag "instaLarge1.jpg" %>
  </div>
  <div class="instaImageLarge lastInsta">
    <%= image_tag "instaLarge2.jpg" %>
  </div>
</div>
