<div class="staticBackgroundLaunch">
</div>
<div class="instaFeed clearfix">
  <div class="launchContainer">
    <h3>Gold 001 is coming</h3>
    <h1>10.27.15</h1>

    <div class="">
      <%= link_to "preview now", product_path(1), class: 'previewLink' %>
    </div>
  </div>
  <!-- <div class="emptySpace">

  </div> -->
  <div class="instaImage firstInsta">
    <%= image_tag "PatsGold_1A.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>test</p>
    </div>
  </div>
  <div class="instaImage">
    <%= image_tag "PatsGold_2A.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>test</p>
    </div>
  </div>
  <div class="instaImage lastInsta noMobile">
    <%= image_tag "PatsGold_3A.jpg" %>
    <div class="hoverTextContainer">
      <p>test</p>
    </div>
  </div>
  <div class="instaImageLarge firstInsta">
    <%= image_tag "instaLarge1.jpg" %>
    <div class="hoverTextContainer">
      <p>test</p>
    </div>
  </div>
  <div class="instaImageLarge lastInsta">
    <%= image_tag "instaLarge2.jpg" %>
    <div class="hoverTextContainer">
      <p>test</p>
    </div>
  </div>
</div>
