<div class="staticBackgroundLaunch">
</div>
<div class="instaFeed clearfix">
  <div class="launchContainer">
    <h1>10.27.15</h1>
    <h3>All will be revealed</h3>
    <div class="terminalContainer">
      <%= form_tag('/mcsubscribe/subscribe', method: "post", id: "mcsubscribe", remote: "true",:authenticity_token => true) do -%>
      <p><!--<span>01</span>-->&lt; &nbsp;sign up for priority access&nbsp; &gt;</p>
      <p><!--<span>02</span>--><span class="blinker">&nbsp;</span> &nbsp;<%= email_field(:email, :address, {id: "email", placeholder: "enter email here"}) %>
        <button type="button" id="subscribe">SUBMIT</button>
        <%#= button_tag(type: 'button', {id: "subscribe"}) %></p>
      <!-- <p><span>03</span>&lt; &nbsp;<%= submit_tag("Send", {id: "subscribe"}) %></p> -->
      <!-- <p id="response"><span>04</span>&lt; &nbsp;</p> -->
      <% end %>
    </div>
    <h5>Celebrating the inspiration, illumination and irreverence of all your #LabLove</h5>
    <p class="scrollDown">Scroll down for more #Gold001 obsessions</p>
<%= image_tag "down.png", class: "downArrow" %>
    <!-- <div class=""> -->
      <%#= link_to "preview now", product_path(1), class: 'previewLink' %>
    <!-- </div> -->
  </div>
  <!-- <div class="emptySpace">

  </div> -->
  <div class="instaImage firstInsta">
    <%= image_tag "PatsGold_1A.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@Palomija</br>@voguemagazine</br>@patrickdemarchelierofficial</p>
    </div>
    <%#= image_tag "PatsGold_1B.jpg", class: "hoverImage" %>
  </div>
  <div class="instaImage">
    <%= image_tag "PatsGold_2A.jpg", class: "" %>
    <%= image_tag "PatsGold_2B.jpg", class: "hoverImage" %>
  </div>
  <div class="instaImage lastInsta noMobile">
    <%= image_tag "PatsGold_Fan3.jpg" %>
    <div class="hoverTextContainer">
      <p>@BESSnyc4</p>
    </div>
  </div>


  <!-- ROW 2 START -->

  <!-- ROW 2 END -->

  <!-- ROW 3 START -->
  <div class="instaImageLarge firstInsta">
    <%= image_tag "PatsGold_5A.jpg" %>
    <%= image_tag "PatsGold_5B.jpg", class: "hoverImage" %>
  </div>
  <div class="instaImageLarge lastInsta">
    <%= image_tag "PatsGold_6A.jpg" %>
    <%= image_tag "PatsGold_6B.jpg", class: "hoverImage" %>
  </div>
  <!--ROW 3 END  -->
<!--  ROW 4 Start-->
  <div class="instaImage firstInsta">
    <%= image_tag "PatsGold_Fan7.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@c0neja</p>
    </div>
  </div>
  <div class="instaImage">
    <%= image_tag "PatsGold_Fan8.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@styledbyhrush</br>@karrueche</p>
    </div>
  </div>
  <div class="instaImage lastInsta noMobile">
    <%= image_tag "PatsGold_9A.jpg" %>
    <%= image_tag "PatsGold_9B.jpg", class: "hoverImage" %>
  </div>
<!-- ROW 4 END -->
<!-- ROW 5 START -->
  <div class="instaImage firstInsta">
    <%= image_tag "PatsGold_Fan10.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@violetgrey</br>@kimkardashian</br>@benhassett</p>
    </div>
  </div>
  <div class="instaImage">
    <%= image_tag "PatsGold_11A.jpg", class: "" %>
    <%= image_tag "PatsGold_11B.jpg", class: "hoverImage" %>
  </div>
  <div class="instaImage lastInsta noMobile">
    <%= image_tag "PatsGold_12A.jpg" %>
    <%= image_tag "PatsGold_12B.jpg", class: "hoverImage" %>
  </div>
<!-- ROW 5 END -->
<!-- ROW 6 START -->
  <div class="instaImageLarge firstInsta">
    <%= image_tag "PatsGold_13A.jpg", class: "" %>
    <%= image_tag "PatsGold_13B.jpg", class: "hoverImage" %>
  </div>
  <div class="instaImageLarge lastInsta">
    <%= image_tag "PatsGold_Fan14.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@BESSnyc4</p>
    </div>
  </div>
<!-- ROW 6 END -->
<!-- ROW 7 START -->
  <div class="instaImage firstInsta">
    <%= image_tag "PatsGold_Fan15.png", class: "" %>
    <div class="hoverTextContainer">
      <p>@1maryphillips</br>@KhloeKardashian</p>
    </div>
  </div>
  <div class="instaImage">
    <%= image_tag "PatsGold_16A.jpg", class: "" %>
    <%= image_tag "PatsGold_16B.jpg", class: "hoverImage" %>
  </div>
  <div class="instaImage lastInsta noMobile">
    <%= image_tag "PatsGold_17A.jpg", class: "" %>
    <%= image_tag "PatsGold_17B.jpg", class: "hoverImage" %>
  </div>
<!-- ROW 7 END -->
<!-- ROW 8 START -->
  <!-- VIDEO -->
<!-- ROW 8 END -->
<!-- ROW 9 START -->
  <div class="instaImageLarge firstInsta">
    <%= image_tag "PatsGold_Fan19.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@amandaschon</p>
    </div>
  </div>
  <div class="instaImageLarge lastInsta">
    <%= image_tag "PatsGold_Fan20.png", class: "" %>
    <div class="hoverTextContainer">
      <p>@Covergirl</p>
    </div>
  </div>
<!-- ROW 9 END -->
<!-- ROW 10 START -->
  <div class="instaImage firstInsta">
    <%= image_tag "PatsGold_Fan21.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@violetgrey</br>@kimkardashian</br>@benhassett</p>
    </div>
  </div>
  <div class="instaImage">
    <%= image_tag "PatsGold_Fan22.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@lillipore</p>
    </div>
  </div>
  <div class="instaImage lastInsta noMobile">
    <%= image_tag "PatsGold_23A.jpg", class: "" %>
    <%= image_tag "PatsGold_23B.jpg", class: "hoverImage" %>
  </div>
<!-- ROW 10 END -->
<!-- ROW 11 START -->
  <div class="instaImage firstInsta">
    <%= image_tag "PatsGold_Fan24.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@voguemagazine</br>@patrickdemarchelierofficial</br>@imaanhammam</p>
    </div>
  </div>
  <div class="instaImage">
    <%= image_tag "PatsGold_Fan25.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@pacorabanne</br>@juliendossena</p>
    </div>
  </div>
  <div class="instaImage lastInsta noMobile">
    <%= image_tag "PatsGold_Fan26.png", class: "" %>
    <div class="hoverTextContainer">
      <p>@maggiemcdonaldmua</p>
    </div>
  </div>
<!-- ROW 11 END -->
<!-- ROW 12 START -->
  <div class="instaImageLarge firstInsta">
    <%= image_tag "PatsGold_27A.jpg", class: "" %>
    <%= image_tag "PatsGold_27B.jpg", class: "hoverImage" %>
  </div>
  <div class="instaImageLarge lastInsta">
    <%= image_tag "PatsGold_Fan28.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@sebastianowsianka</p>
    </div>
  </div>
<!-- ROW 12 END -->
<!-- ROW 13 START -->
<div class="instaImage firstInsta">
  <%= image_tag "PatsGold_Fan29.jpg", class: "" %>
  <div class="hoverTextContainer">
    <p>@makeupbyan</p>
  </div>
</div>
<div class="instaImage">
  <%= image_tag "PatsGold_Fan30.jpg", class: "" %>
  <div class="hoverTextContainer">
    <p>@golden_barbie</p>
  </div>
</div>
<div class="instaImage lastInsta noMobile">
  <%= image_tag "PatsGold_Fan31.jpg", class: "" %>
  <div class="hoverTextContainer">
    <p>@vladamua</p>
  </div>
</div>
<!-- ROW 13 END -->
<!--
  <div class="instaVideo firstInsta">
    <%#= video_tag "NoSound-1-reduced.mp4", controls: true %>
  </div> -->
</div>

<footer style="z-index:5;">
  <a class="list-group-item" target="_blank" href="https://instagram.com/patmcgrathreal/"><i class="fa fa-instagram"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://www.facebook.com/PatMcGrathReal"><i class="fa fa-facebook-square"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://twitter.com/patmcgrathreal"><i class="fa fa-twitter"></i>&nbsp;</a>
  <div class="footerBranding">
    &#35;Gold001 <span>|</span> <a href="mailto:contact@patmcgrath.com" target="_top">Contact</a> <span>|</span> <a href="#">Media</a>
  </div>
</footer>

<script type="text/javascript">
touch = window.ontouchstart || navigator.MaxTouchPoints > 0 || navigator.msMaxTouchPoints > 0;

if (touch) {
try {
  for (si in document.styleSheets) {
    styleSheet = document.styleSheets[si];
    if (!styleSheet.rules) {
      continue;
    }
    ri = styleSheet.rules.length - 1;
    while (ri >= 0) {
      if (!styleSheet.rules[ri].selectorText) {
        ri--;
        continue;
      }
      if (styleSheet.rules[ri].selectorText.match(':hover')) {
        stylesheet.deleteRule(ri);
      }
      ri--;
    }
  }
} catch (_error) {
  ex = _error;
}
}

</script>
