<div class="staticBackgroundLaunch">
</div>
<div class="instaFeed clearfix">
  <div class="launchContainer">
    <h3>BUY YOUR EXCLUSIVE GOLD 001 PIGMENT</h3>
    <h1>10.29.15</h1>
    <div class="terminalContainer">
      <%= form_tag('/mcsubscribe/subscribe', method: "post", id: "mcsubscribe", remote: "true",:authenticity_token => true) do -%>
      <p><!--<span>01</span>-->&lt; &nbsp;sign up for priority access&nbsp; &gt;</p>
      <p><!--<span>02</span>--><span class="blinker">&nbsp;</span> &nbsp;<%= email_field(:email, :address, {id: "email", placeholder: "enter email here"}) %>
        <button type="button" id="subscribe">SUBMIT</button>
        <%#= button_tag(type: 'button', {id: "subscribe"}) %></p>
      <!-- <p><span>03</span>&lt; &nbsp;<%= submit_tag("Send", {id: "subscribe"}) %></p> -->
      <!-- <p id="response"><span>04</span>&lt; &nbsp;</p> -->
      <% end %>
    </div>
    <p class="emailMessage"></p>
    <h5>Celebrating the inspiration, illumination and irreverence of all your #LabLove</h5>
    <p class="scrollDown">Scroll down for more #Gold001 obsessions</p>
<%= image_tag "down.png", class: "downArrow" %>
    <!-- <div class=""> -->
      <%#= link_to "preview now", product_path(1), class: 'previewLink' %>
    <!-- </div> -->
  </div>

  <div class="instaImage firstInsta"><a href="/products/1">
    <%= image_tag "product/productImage1.jpg", class: "" %>
    </a>
  </div>

  <div class="instaImage">
    <a href="/products/1">
      <%= image_tag "product/productImage2.jpg", class: "" %>
    </a>
  </div>

<!--  -->

  <div class="instaImage lastInsta noMobile">
    <a href="/products/1">
    <%= image_tag "product/productImage3.jpg", class: "" %>
    </a>
  </div>

  <div class="instaImage firstInsta"><a href="#img1">
    <%= image_tag "PatsGold_Fan1.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@Palomija</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img1">
    <%= image_tag "PatsGold_Fan1.jpg", class: "" %>
    <p style="text-decoration:none; color:white;">@Palomija</p>
  </a>

  <div class="instaImage">
    <a href="#img2">
      <%= image_tag "PatsGold_2A.jpg", class: "" %>
      <%= image_tag "PatsGold_2B.jpg", class: "hoverImage" %>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img2">
    <%= image_tag "PatsGold_2A.jpg", class: "" %>
  </a>

  <div class="instaImage lastInsta noMobile">
    <a href="#img3">
    <%= image_tag "PatsGold_Fan3.jpg" %>
    <div class="hoverTextContainer">
      <p>@BESSnyc4</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img3">
    <%= image_tag "PatsGold_Fan3.jpg" %>
    <p style="text-decoration:none; color:white;">@BESSnyc4</p>
  </a>

  <div class="videoWrapper instaImageFull">
      <iframe src="https://player.vimeo.com/video/143625042" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>


  <!-- ROW 2 START -->

  <!-- ROW 2 END -->

  <!-- ROW 3 START -->
  <div class="instaImageLarge firstInsta">
    <a href="#img5">
    <%= image_tag "PatsGold_5A.jpg" %>
    <%= image_tag "PatsGold_5B.jpg", class: "hoverImage" %>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img5">
    <%= image_tag "PatsGold_5B.jpg" %>
  </a>

  <div class="instaImageLarge lastInsta">
    <a href="#img6">
    <%= image_tag "PatsGold_6A.jpg" %>
    <%= image_tag "PatsGold_6B.jpg", class: "hoverImage" %>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img6">
    <%= image_tag "PatsGold_6B.jpg", class: "" %>
  </a>
  <!--ROW 3 END  -->
<!--  ROW 4 Start-->
  <div class="instaImage firstInsta">
    <a href="#img7">
    <%= image_tag "PatsGold_Fan7.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@c0neja</p>
    </div>
  </a>
  </div>
  <a href="#_" class="lightbox" id="img7">
    <%= image_tag "PatsGold_Fan7.jpg", class: "" %>
      <p style="text-decoration:none; color:white;">@c0neja</p>
  </a>

  <div class="instaImage">
    <a href="#img8">
    <%= image_tag "PatsGold_Fan8.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@styledbyhrush</br>@karrueche</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img8">
    <%= image_tag "PatsGold_Fan8.jpg", class: "" %>
      <p style="text-decoration:none; color:white;">@styledbyhrush</br>@karrueche</p>
  </a>

  <div class="instaImage lastInsta noMobile">
    <a href="#img9">
    <%= image_tag "PatsGold_9A.jpg" %>
    <%= image_tag "PatsGold_9B.jpg", class: "hoverImage" %>
  </a>
  </div>
  <a href="#_" class="lightbox" id="img9">
    <%= image_tag "PatsGold_9B.jpg", class: "" %>
  </a>
<!-- ROW 4 END -->
<!-- ROW 5 START -->
  <div class="instaImage firstInsta">
    <a href="#img10">
    <%= image_tag "PatsGold_Fan10.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@violetgrey</br>@kimkardashian</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img10">
    <%= image_tag "PatsGold_Fan10.jpg", class: "" %>
      <p style="text-decoration:none; color:white;">@violetgrey</br>@kimkardashian</p>
  </a>

  <div class="instaImage">
    <a href="#img11">
    <%= image_tag "PatsGold_11A.jpg", class: "" %>
    <%= image_tag "PatsGold_11B.jpg", class: "hoverImage" %>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img11">
    <%= image_tag "PatsGold_11B.jpg", class: "" %>
  </a>

  <div class="instaImage lastInsta noMobile">
    <a href="#img12">
    <%= image_tag "PatsGold_12A.jpg" %>
    <%= image_tag "PatsGold_12B.jpg", class: "hoverImage" %>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img12">
    <%= image_tag "PatsGold_12B.jpg", class: "" %>
  </a>
<!-- ROW 5 END -->
<!-- ROW 6 START -->
  <div class="instaImageLarge firstInsta">
    <a href="#img13">
    <%= image_tag "PatsGold_13A.jpg", class: "" %>
    <%= image_tag "PatsGold_13B.jpg", class: "hoverImage" %>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img13">
    <%= image_tag "PatsGold_13B.jpg", class: "" %>
  </a>

  <div class="instaImageLarge lastInsta">
    <a href="#img14">
    <%= image_tag "PatsGold_Fan14.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@BESSnyc4</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img14">
    <%= image_tag "PatsGold_Fan14.jpg", class: "" %>
      <p style="text-decoration:none; color:white;">@BESSnyc4</p>
  </a>

<!-- ROW 6 END -->
<!-- ROW 7 START -->
  <div class="instaImage firstInsta">
    <a href="#img15">
    <%= image_tag "PatsGold_Fan15.png", class: "" %>
    <div class="hoverTextContainer">
      <p>@1maryphillips</br>@KhloeKardashian</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img15">
    <%= image_tag "PatsGold_Fan15.png", class: "" %>
      <p style="text-decoration:none; color:white;">@1maryphillips</br>@KhloeKardashian</p>
  </a>

  <div class="instaImage">
    <a href="#img16">
    <%= image_tag "PatsGold_16A.jpg", class: "" %>
    <%= image_tag "PatsGold_16B.jpg", class: "hoverImage" %>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img16">
    <%= image_tag "PatsGold_16B.jpg", class: "" %>
  </a>

  <div class="instaImage lastInsta noMobile">
    <a href="#img17">
    <%= image_tag "PatsGold_17A.jpg", class: "" %>
    <%= image_tag "PatsGold_17B.jpg", class: "hoverImage" %>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img17">
    <%= image_tag "PatsGold_17B.jpg", class: "" %>
  </a>
<!-- ROW 7 END -->
<!-- ROW 8 START -->
  <!-- VIDEO -->
<!-- ROW 8 END -->
<!-- ROW 9 START -->
  <div class="instaImageLarge firstInsta">
    <a href="#img19">
    <%= image_tag "PatsGold_Fan19.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@amandaschon</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img19">
    <%= image_tag "PatsGold_Fan19.jpg", class: "" %>
      <p style="text-decoration:none; color:white;">@amandaschon</p>
  </a>

  <div class="instaImageLarge lastInsta">
    <a href="#img20">
    <%= image_tag "PatsGold_Fan20.png", class: "" %>
    <div class="hoverTextContainer">
      <p>@Covergirl</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img20">
    <%= image_tag "PatsGold_Fan20.png", class: "" %>
      <p style="text-decoration:none; color:white;">@Covergirl</p>
  </a>
<!-- ROW 9 END -->
<!-- ROW 10 START -->
  <div class="instaImage firstInsta">
    <a href="#img21">
    <%= image_tag "PatsGold_Fan21.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@violetgrey</br>@kimkardashian</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img21">
    <%= image_tag "PatsGold_Fan21.jpg", class: "" %>
      <p style="text-decoration:none; color:white;">@violetgrey</br>@kimkardashian</p>
  </a>

  <div class="instaImage">
    <a href="#img22">
    <%= image_tag "PatsGold_Fan22.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@lillipore</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img22">
    <%= image_tag "PatsGold_Fan22.jpg", class: "" %>
      <p style="text-decoration:none; color:white;">@lillipore</p>
  </a>

  <div class="instaImage lastInsta noMobile">
    <a href="#img23">
    <%= image_tag "PatsGold_23A.jpg", class: "" %>
    <%= image_tag "PatsGold_23B.jpg", class: "hoverImage" %>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img23">
    <%= image_tag "PatsGold_23B.jpg", class: "" %>
  </a>
<!-- ROW 10 END -->
<!-- ROW 11 START -->
  <div class="instaImage firstInsta">
    <a href="#img24">
    <%= image_tag "PatsGold_Fan24.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@voguemagazine</br>@patrickdemarchelierofficial</br>@imaanhammam</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img24">
    <%= image_tag "PatsGold_Fan24.jpg", class: "" %>
      <p style="text-decoration:none; color:white;">@voguemagazine</br>@patrickdemarchelierofficial</br>@imaanhammam</p>
  </a>

  <div class="instaImage">
    <a href="#img25">
    <%= image_tag "PatsGold_Fan25.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@pacorabanne</br>@juliendossena</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img25">
    <%= image_tag "PatsGold_Fan25.jpg", class: "" %>
      <p style="text-decoration:none; color:white;">@pacorabanne</br>@juliendossena</p>
  </a>


  <div class="instaImage lastInsta noMobile">
    <a href="#img26">
    <%= image_tag "PatsGold_Fan26.png", class: "" %>
    <div class="hoverTextContainer">
      <p>@maggiemcdonaldmua</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img26">
    <%= image_tag "PatsGold_Fan26.png", class: "" %>
      <p style="text-decoration:none; color:white;">@maggiemcdonaldmua</p>
  </a>
<!-- ROW 11 END -->
<!-- ROW 12 START -->
  <div class="instaImageLarge firstInsta">
    <a href="#img27">
    <%= image_tag "PatsGold_27A.jpg", class: "" %>
    <%= image_tag "PatsGold_27B.jpg", class: "hoverImage" %>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img27">
    <%= image_tag "PatsGold_27B.jpg", class: "" %>
  </a>

  <div class="instaImageLarge lastInsta">
    <a href="#img28">
    <%= image_tag "PatsGold_Fan28.jpg", class: "" %>
    <div class="hoverTextContainer">
      <p>@sebastianowsianka</p>
    </div>
    </a>
  </div>
  <a href="#_" class="lightbox" id="img28">
    <%= image_tag "PatsGold_Fan28.jpg", class: "" %>
    <p style="text-decoration:none; color:white;">@sebastianowsianka</p>
  </a>
<!-- ROW 12 END -->
<!-- ROW 13 START -->
<div class="instaImage firstInsta">
  <a href="#img29">
  <%= image_tag "PatsGold_Fan29.jpg", class: "" %>
  <div class="hoverTextContainer">
    <p>@makeupbyan</p>
  </div>
  </a>
</div>
<a href="#_" class="lightbox" id="img29">
  <%= image_tag "PatsGold_Fan29.jpg", class: "" %>
  <p style="text-decoration:none; color:white;">@makeupbyan</p>
</a>

<div class="instaImage">
  <a href="#img30">
  <%= image_tag "PatsGold_Fan30.jpg", class: "" %>
  <div class="hoverTextContainer">
    <p>@golden_barbie</p>
  </div>
  </a>
</div>
<a href="#_" class="lightbox" id="img30">
  <%= image_tag "PatsGold_Fan30.jpg", class: "" %>
  <p style="text-decoration:none; color:white;">@golden_barbie</p>
</a>

<div class="instaImage lastInsta noMobile">
  <a href="#img31">
  <%= image_tag "PatsGold_Fan31.jpg", class: "" %>
  <div class="hoverTextContainer">
    <p>@vladamua</p>
  </div>
  </a>
</div>
<a href="#_" class="lightbox" id="img31">
  <%= image_tag "PatsGold_Fan31.jpg", class: "" %>
  <p style="text-decoration:none; color:white;">@vladamua</p>
</a>
<!-- ROW 13 END -->
<!--
  <div class="instaVideo firstInsta">
    <%#= video_tag "NoSound-1-reduced.mp4", controls: true %>
  </div> -->
</div>

<footer style="z-index:5;">
  <a class="list-group-item" target="_blank" href="https://instagram.com/patmcgrathreal/"><i class="fa fa-instagram"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://www.facebook.com/PatMcGrathReal"><i class="fa fa-facebook-square"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://twitter.com/patmcgrathreal"><i class="fa fa-twitter"></i>&nbsp;</a>
  <div class="footerBranding">
    &#35;Gold001 <span>|</span> <a href="mailto:contact@patmcgrath.com" target="_top">Contact</a>
  </div>
</footer>


<script type="text/javascript">
touch = window.ontouchstart || navigator.MaxTouchPoints > 0 || navigator.msMaxTouchPoints > 0;

if (touch) {
try {
  for (si in document.styleSheets) {
    styleSheet = document.styleSheets[si];
    if (!styleSheet.rules) {
      continue;
    }
    ri = styleSheet.rules.length - 1;
    while (ri >= 0) {
      if (!styleSheet.rules[ri].selectorText) {
        ri--;
        continue;
      }
      if (styleSheet.rules[ri].selectorText.match(':hover')) {
        stylesheet.deleteRule(ri);
      }
      ri--;
    }
  }
} catch (_error) {
  ex = _error;
}
}

</script>
