<script src="https://js.stripe.com/v2/"></script>
<script src="https://checkout.quaderno.io/checkout.js"></script>

<section class="productImageSection">
  <div class="mainImageContainer">
    <%= image_tag "product/productImage1.jpg", class: "imageSlide productImage1" %>
    <%= image_tag "product/productImage2.jpg", class: "imageSlide productImage2" %>
    <%= image_tag "product/productImage3.jpg", class: "imageSlide productImage3" %>
    <%= image_tag "product/productImage4.jpg", class: "imageSlide productImage4" %>
    <%= image_tag "product/productImage5.jpg", class: "imageSlide productImage5" %>
  </div>
</section>

<section class="productCopySection">
  <h1><%= @product.name %></h1>
  <div class="productDetails">
    <p>Price: $45.00<%#= @product.price %></p>
    <p>Net Wt.: 4 grams/0.14 Oz</p>
    <p>QTY: 1 (limit one per customer)</p>
    <p>Free Worldwide Shipping</p>
  </div>

  <!-- <form action="" method="POST">
    <script
      src="https://checkout.quaderno.io/checkout.js" class="quaderno-button"
      data-type="charge"
      data-key="pk_live_xbq8EcoXjbrpSZhhy6D"
      data-charge="<%= @chargeJSON %>"
      data-description="One-off Charge"
      data-label="Pay with Card"
      data-amount="4500"
      data-currency="USD">
    </script>
  </form> -->
<%= form_for Charge.new do |f| %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.hidden_field :quantity, value: '1' %>
  <%= f.hidden_field :stripe_token %>
  <button type="button" id="customButton">Pay with card</button>
<% end %>

<script type="text/javascript">
// PRIVATE SANDBOX SECRET sk_test_WjN6uvhQnG38hqqN_oiZ
 // key: "pk_live_xbq8EcoXjbrpSZhhy6D" // public normal key
var handler = QuadernoCheckout.configure({
  key: 'pk_test_kyhpqKz3ssMUsLbzsqWj', //Key for sandbox
  locale: 'en',
  billingAddress: true,
  callback: function(data) {
    console.log(data);
    $('#new_charge').find("#charge_stripe_token").val('foo');
  }
});
$('#customButton').click(function(e) {
 handler.open({
      type: "charge",
      amount: "<%= @product.price %>",
      currency: 'USD',
      charge: "<%= @chargeJSON %>",
      description: 'Awesome charge'
      // billing-address:
 });
});

// $(document).ready(function(){
//   var changeImage;
//
//   changeImage = function() {
//     var className;
//     className = $(this).attr('class').split(' ')[1];
//     className = className + '.jpg';
//     console.log('/assets/product/' + className);
//     $('.imageSlide').attr("src", <%= image_path 'className' %>);
//   };
//
//   $('.productThumb').click changeImage
//
// });


</script>

  <div class="toggleBox clearfix">
    <div class="toggleHeader clearfix">
      <p class="toggleTitle">contents</p>
      <p class="plusMinus">+</p>
    </div>
    <div class="openClose">
      <p>Gold 001 pigment</p>
      <p>Second life container</p>
      <p>Metal spatula</p>
    </div>
  </div>

  <div class="toggleBox clearfix">
    <div class="toggleHeader clearfix">
      <p class="toggleTitle">application</p>
      <p class="plusMinus">+</p>
    </div>
    <div class="openClose">
      here is a ton of content
    </div>
  </div>

  <div class="thumbnailContainer clearfix">
    <%= image_tag "product/productImage1.jpg", class: "productThumb productImage1" %>
    <%= image_tag "product/productImage2.jpg", class: "productThumb productImage2" %>
    <%= image_tag "product/productImage3.jpg", class: "productThumb productImage3" %>
    <%= image_tag "product/productImage4.jpg", class: "productThumb productImage4" %>
    <%= image_tag "product/productImage5.jpg", class: "productThumb productImage5" %>
  </div>

</section>

<footer>
  <a class="list-group-item" target="_blank" href="https://instagram.com/patmcgrathreal/"><i class="fa fa-instagram"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://www.facebook.com/PatMcGrathReal"><i class="fa fa-facebook-square"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://twitter.com/patmcgrathreal"><i class="fa fa-twitter"></i>&nbsp;</a>
  <div class="footerBranding">
    &#35;Gold001 <span>|</span> <a href="mailto:contact@patmcgrath.com" target="_top">Contact</a> <span>|</span> <a href="#">Media</a>
  </div>
</footer>
