<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://js.quaderno.io/v2/"></script>

<section class="productImageSection clearfix">
  <div class="mainImageContainer">
    <%= image_tag "product/productImage1.jpg", class: "imageSlide productImage1" %>
    <%= image_tag "product/productImage2.jpg", class: "imageSlide productImage2" %>
    <%= image_tag "product/productImage3.jpg", class: "imageSlide productImage3" %>
    <%= image_tag "product/productImage4.jpg", class: "imageSlide productImage4" %>
    <%= image_tag "product/productImage5.jpg", class: "imageSlide productImage5" %>
  </div>
</section>

<div class="thumbnailContainer mobileThumbContainer clearfix">
  <%= image_tag "product/productImage1.jpg", class: "productThumb productImage1" %>
  <%= image_tag "product/productImage2.jpg", class: "productThumb productImage2" %>
  <%= image_tag "product/productImage3.jpg", class: "productThumb productImage3" %>
  <%= image_tag "product/productImage4.jpg", class: "productThumb productImage4" %>
  <%= image_tag "product/productImage5.jpg", class: "productThumb productImage5" %>
</div>

<section class="productCopySection">
  <h1><%= @product.name %></h1>
  <div class="productDetails">
    <p style="margin-bottom:15px;">A multidimensional, microfine pigment that knows no limits.</p>
    <p>Price: $40.00</p>
    <p>Net Wt.: 4 grams/0.14 Oz</p>
    <p>QTY: 1 (limit one per customer)</p>
    <p>Free Worldwide Shipping</p>
    <!-- <div class="soldOut rotate">
      <p>sold out</p>
    </div> -->
  </div>
  <a href="" data-modal="#modal2" class="modal__trigger">BUY NOW</a>

<%#= form_for Purchase.new do |f| %>
  <%#= f.hidden_field :product_id, value: @product.id %>
  <%#= f.hidden_field :quantity, value: '1' %>
  <%#= f.hidden_field :stripe_token %>
  <!-- <button type="button" id="customButton">Pay with card</button> -->
<%# end %>

<script type="text/javascript">
// PRIVATE SANDBOX SECRET sk_test_WjN6uvhQnG38hqqN_oiZ
 // key: "pk_live_xbq8EcoXjbrpSZhhy6D" // public normal key

 // EXAMPLE 1 with popup form built in.
// var handler = QuadernoCheckout.configure({
//   key: 'pk_test_kyhpqKz3ssMUsLbzsqWj', //Key for sandbox
//   locale: 'en',
//   billingAddress: true,
//   callback: function(data) {
//     console.log(data);
//     $('#new_charge').find("#charge_stripe_token").val('foo');
//   }
// });
// $('#customButton').click(function(e) {
//  handler.open({
//       type: "charge",
//       amount: "<%= @product.price %>",
//       currency: 'USD',
//       charge: "<%= @chargeJSON %>",
//       description: 'Awesome charge'
//       // billing-address:
//  });
// });

</script>

  <div class="toggleBox clearfix">
    <div class="toggleHeader clearfix">
      <p class="toggleTitle">contents</p>
      <p class="plusMinus">+</p>
    </div>
    <div class="openClose">
      <p>Gold 001 pigment</p>
      <p>Metal spatula</p>
      <p>Second life container</p>
      <p>Mehron mixing liquid</p>
    </div>
  </div>

  <div class="toggleBox clearfix application">
    <div class="toggleHeader clearfix">
      <p class="toggleTitle">application</p>
      <p class="plusMinus">+</p>
    </div>
    <div class="openClose applicationOpenClose">
      <p>Break the rules and be inventive. Gild eyelids and Cupid’s bow. Electrify brows and lips. Buff into skin for blinding luminosity.</p>
      <p>Use a brush dampened with mixing liquid to optimize application of pigment. Experiment with the amount of liquid to create different effects, from an intense molten gleam to a sheer golden shimmer. Layer pigment over a primer for intense, long-lasting results.</p>
      <p>Break and smash the pigment with spatula and store in second life container. Dig in and play fearlessly.</p>
    </div>
  </div>

  <div class="thumbnailContainer clearfix">
    <%= image_tag "product/productImage1.jpg", class: "productThumb productImage1" %>
    <%= image_tag "product/productImage2.jpg", class: "productThumb productImage2" %>
    <%= image_tag "product/productImage3.jpg", class: "productThumb productImage3" %>
    <%= image_tag "product/productImage4.jpg", class: "productThumb productImage4" %>
    <%= image_tag "product/productImage5.jpg", class: "productThumb productImage5" %>
  </div>

  <div class="videoWrapper">
    <iframe src="https://player.vimeo.com/video/143560694" width="500" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/143560694">Gold 001 How-to</a> from <a href="https://vimeo.com/user45207618">Pat Mcgrath</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>
</section>

<div id="modal2" class="modal modal--align-top modal__bg" role="dialog" aria-hidden="true">
		<div class="modal__dialog">
			<div class="modal__content">
        <form action="/purchases" method="POST" id="payment-form"
      data-type="charge"
      data-gateway-key="pk_test_6cbMwNi5VCVbHbIAAcmzXIdL"
      data-key="pk_test_kyhpqKz3ssMUsLbzsqWj"
      data-charge="<%= @chargeJSON %>"
      data-amount="4000"
      data-taxes="excluded">

      <span class="payment-errors"></span>

      <fieldset>
        <legend>Billing Address</legend>
        <div class="form-row">
          <label>
            <span>* First Name / Company Name</span>
            <input data-quaderno="first-name"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Last Name</span>
            <input data-quaderno="last-name"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Email</span>
            <input data-quaderno="email"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Street Line 1</span>
            <input data-quaderno="street-line-1"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Street Line 2</span>
            <input data-quaderno="street-line-2"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>City</span>
            <input data-quaderno="city"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Postal Code</span>
            <input data-quaderno="postal-code"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Region</span>
            <input data-quaderno="region"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Country</span>
            <select data-quaderno="country">
              <option value="US" selected>United States</option>
              <option value="GB">United Kingdom</option>
              <option value="DE">Germany</option>
              <option value="FR">France</option>
              <option value="IT">Italy</option>
              <option value="ES">Spain</option>
              <option value="CA">Canada</option>
              <option value="AU">Australia</option>
            </select>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>VAT Number</span>
            <input data-quaderno="vat-number"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Coupon</span>
            <input data-quaderno="coupon"/>
          </label>
        </div>
      </fieldset>

      <fieldset>
        <legend>Credit Card Data</legend>
        <div class="form-row">
          <label>
            <span>* Card Number</span>
            <input class="card-number" data-quaderno="number"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>* CVC</span>
            <input class="card-cvc" data-quaderno="cvc" type="password"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>* Expiration (MM/YYYY)</span>
            <input class="card-expiry-month" type="text" size="2" data-quaderno="exp-month"/>
          </label>
          <span> / </span>
          <input class="card-expiry-year" type="text" size="4" data-quaderno="exp-year"/>
        </div>
      </fieldset>

      <p>Subtotal: $<span class="quaderno-subtotal"></span></p>
      <p>Taxes: $<span class="quaderno-taxes"></span></p>
      <p>Total: $<span class="quaderno-total"></span></p>

      <button type="submit" id="pay-now">Pay Now</button>
    </form>
				<!-- modal close button -->
				<a href="" class="modal__close demo-close">
					<svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
				</a>
			</div>
		</div>
	</div>

<script type="text/javascript">
  // EXAMPLE 2 with custom form.
  var stripeResponseHandler = function(status, response) {
          var $form = $('#payment-form');
          if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('button').prop('disabled', false);
          } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" data-quaderno="cardToken" />').val(token));
            debugger
            // create the charge in Stripe via Quaderno and submit
            Quaderno.createCharge({
              success: function(status, response){
                // response contains the message and the Stripe customer id
                $form.append($('<input type="hidden" name="transactionDetails" data-quaderno="transactionDetails" />').val(response.details));
                // and re-submit the form
                debugger;
                $form.get(0).submit();
              },
              error: function(status, response){
                $form.find('.payment-errors').text(response.message);
                $form.find('button').prop('disabled', false);
              }
            });
          }
        };
        jQuery(function($) {
          $('#pay-now').click(function(e) {
            var $form = $(this);
            // This identifies your website in the createToken call below
            // Stripe.setPublishableKey($(this).data('gateway-key'));
            Stripe.setPublishableKey("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");
            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);
            // Get the card token from Stripe
            Stripe.card.createToken({
              number: $('.card-number').val(),
              cvc: $('.card-cvc').val(),
              exp_month: $('.card-expiry-month').val(),
              exp_year: $('.card-expiry-year').val()
            }, stripeResponseHandler);
            // Prevent the form from submitting with the default action
            return false;
          });
        });

  </script>





<script type="text/javascript">
var Modal = (function() {

var trigger = $qsa('.modal__trigger'); // what you click to activate the modal
var modals = $qsa('.modal'); // the entire modal (takes up entire window)
var modalsbg = $qsa('.modal__bg'); // the entire modal (takes up entire window)
var content = $qsa('.modal__content'); // the inner content of the modal
var closers = $qsa('.modal__close'); // an element used to close the modal
var w = window;
var isOpen = false;
var contentDelay = 400; // duration after you click the button and wait for the content to show
var len = trigger.length;

// make it easier for yourself by not having to type as much to select an element
function $qsa(el) {
  return document.querySelectorAll(el);
}

var getId = function(event) {

  event.preventDefault();
  var self = this;
  // get the value of the data-modal attribute from the button
  var modalId = self.dataset.modal;
  var len = modalId.length;
  // remove the '#' from the string
  var modalIdTrimmed = modalId.substring(1, len);
  // select the modal we want to activate
  var modal = document.getElementById(modalIdTrimmed);
  // execute function that creates the temporary expanding div
  makeDiv(self, modal);
};

var makeDiv = function(self, modal) {

  var fakediv = document.getElementById('modal__temp');

  /**
   * if there isn't a 'fakediv', create one and append it to the button that was
   * clicked. after that execute the function 'moveTrig' which handles the animations.
   */

  if (fakediv === null) {
    var div = document.createElement('div');
    div.id = 'modal__temp';
    self.appendChild(div);
    moveTrig(self, modal, div);
  }
};

var moveTrig = function(trig, modal, div) {
  var trigProps = trig.getBoundingClientRect();
  var m = modal;
  var mProps = m.querySelector('.modal__content').getBoundingClientRect();
  var transX, transY, scaleX, scaleY;
  var xc = w.innerWidth / 2;
  var yc = w.innerHeight / 2;

  // this class increases z-index value so the button goes overtop the other buttons
  trig.classList.add('modal__trigger--active');

  // these values are used for scale the temporary div to the same size as the modal
  scaleX = mProps.width / trigProps.width;
  scaleY = mProps.height / trigProps.height;

  scaleX = scaleX.toFixed(3); // round to 3 decimal places
  scaleY = scaleY.toFixed(3);


  // these values are used to move the button to the center of the window
  transX = Math.round(xc - trigProps.left - trigProps.width / 2);
  transY = Math.round(yc - trigProps.top - trigProps.height / 2);

  // if the modal is aligned to the top then move the button to the center-y of the modal instead of the window
  if (m.classList.contains('modal--align-top')) {
    transY = Math.round(mProps.height / 2 + mProps.top - trigProps.top - trigProps.height / 2);
  }


  // translate button to center of screen
  trig.style.transform = 'translate(' + transX + 'px, ' + transY + 'px)';
  trig.style.webkitTransform = 'translate(' + transX + 'px, ' + transY + 'px)';
  // expand temporary div to the same size as the modal
  div.style.transform = 'scale(' + scaleX + ',' + scaleY + ')';
  div.style.webkitTransform = 'scale(' + scaleX + ',' + scaleY + ')';


  window.setTimeout(function() {
    window.requestAnimationFrame(function() {
      open(m, div);
    });
  }, contentDelay);

};

var open = function(m, div) {

  if (!isOpen) {
    // select the content inside the modal
    var content = m.querySelector('.modal__content');
    // reveal the modal
    m.classList.add('modal--active');
    // reveal the modal content
    content.classList.add('modal__content--active');

    /**
     * when the modal content is finished transitioning, fadeout the temporary
     * expanding div so when the window resizes it isn't visible ( it doesn't
     * move with the window).
     */

    content.addEventListener('transitionend', hideDiv, false);

    isOpen = true;
  }

  function hideDiv() {
    // fadeout div so that it can't be seen when the window is resized
    div.style.opacity = '0';
    content.removeEventListener('transitionend', hideDiv, false);
  }
};

var close = function(event) {

  event.preventDefault();
  event.stopImmediatePropagation();

  var target = event.target;
  var div = document.getElementById('modal__temp');

  /**
   * make sure the modal__bg or modal__close was clicked, we don't want to be able to click
   * inside the modal and have it close.
   */

  if (isOpen && target.classList.contains('modal__bg') || target.classList.contains('modal__close')) {

    // make the hidden div visible again and remove the transforms so it scales back to its original size
    div.style.opacity = '1';
    div.removeAttribute('style');

    /**
    * iterate through the modals and modal contents and triggers to remove their active classes.
    * remove the inline css from the trigger to move it back into its original position.
    */

    for (var i = 0; i < len; i++) {
      modals[i].classList.remove('modal--active');
      content[i].classList.remove('modal__content--active');
      trigger[i].style.transform = 'none';
      trigger[i].style.webkitTransform = 'none';
      trigger[i].classList.remove('modal__trigger--active');
    }

    // when the temporary div is opacity:1 again, we want to remove it from the dom
    div.addEventListener('transitionend', removeDiv, false);

    isOpen = false;

  }

  function removeDiv() {
    setTimeout(function() {
      window.requestAnimationFrame(function() {
        // remove the temp div from the dom with a slight delay so the animation looks good
        div.remove();
      });
    }, contentDelay - 50);
  }

};

var bindActions = function() {
  for (var i = 0; i < len; i++) {
    trigger[i].addEventListener('click', getId, false);
    closers[i].addEventListener('click', close, false);
    modalsbg[i].addEventListener('click', close, false);
  }
};

var init = function() {
  bindActions();
};

return {
  init: init
};

}());

Modal.init();
</script>

<script type="text/javascript">
  // QUADERNO/STRIPE START
</script>


<footer>
  <a class="list-group-item" target="_blank" href="https://instagram.com/patmcgrathreal/"><i class="fa fa-instagram"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://www.facebook.com/PatMcGrathReal"><i class="fa fa-facebook-square"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://twitter.com/patmcgrathreal"><i class="fa fa-twitter"></i>&nbsp;</a>
  <div class="footerBranding">
    &#35;Gold001 <span>|</span> <a href="mailto:contact@patmcgrath.com" target="_top">Contact</a>
  </div>
</footer>
