<section class="navSpacer">
  &nbsp;
</section>

<section class="productImageSection clearfix">
  <div class="mainImageContainer">
    <%= image_tag "product/productImage1.jpg", class: "imageSlide productImage1" %>
    <%= image_tag "product/productImage2.jpg", class: "imageSlide productImage2" %>
    <%= image_tag "product/productImage3.jpg", class: "imageSlide productImage3" %>
    <%= image_tag "product/productImage4.jpg", class: "imageSlide productImage4" %>
    <%= image_tag "product/productImage5.jpg", class: "imageSlide productImage5" %>
  </div>
</section>

<div class="thumbnailContainer mobileThumbContainer clearfix">
  <%= image_tag "product/productImage1.jpg", class: "productThumb productImage1" %>
  <%= image_tag "product/productImage2.jpg", class: "productThumb productImage2" %>
  <%= image_tag "product/productImage3.jpg", class: "productThumb productImage3" %>
  <%= image_tag "product/productImage4.jpg", class: "productThumb productImage4" %>
  <%= image_tag "product/productImage5.jpg", class: "productThumb productImage5" %>
</div>

<section class="productCopySection">
  <h1><%= @product.name %></h1>
  <div class="productDetails">
    <p>A multidimensional, microfine pigment that knows no limits.</p>
    <p style="margin-bottom:15px;">Gold 001 is a limited release of only 1000 units.</p>
    <p>Price: $40.00</p>
    <p>Net Wt.: 4 grams/0.14 Oz</p>
    <p>QTY: 1 (limit one per customer)</p>
    <p>Free Worldwide Shipping</p>
    <!-- <div class="soldOut rotate">
      <p>sold out</p>
    </div> -->
  </div>
  <a href="" data-modal="#modal2" class="modal__trigger">BUY NOW</a>

  <!-- <div class="toggleBox clearfix"> -->
    <!-- <div class="toggleHeader clearfix"> -->
      <p class="toggleTitle contentsTitle">contents</p>
      <div class="contentsSection">
      <!-- <p class="plusMinus">+</p> -->
    <!-- </div> -->
    <!-- <div class="openClose"> -->
        <p>Gold 001 pigment</p>
        <p>Metal spatula</p>
        <p>Second life container</p>
        <p>Mehron mixing liquid</p>
    <!-- </div> -->
  <!-- </div> -->
      </div>

  <div class="toggleBox clearfix application">
    <div class="toggleHeader clearfix">
      <p class="toggleTitle">application</p>
      <p class="plusMinus">-</p>
    </div>
    <div class="openClose applicationOpenClose">
      <p>Break the rules and be inventive. Gild eyelids and Cupid’s bow. Electrify brows and lips. Buff into skin for blinding luminosity.</p>
      <p>Use a brush dampened with mixing liquid to optimize application of pigment. Experiment with the amount of liquid to create different effects, from an intense molten gleam to a sheer golden shimmer. Layer pigment over a primer for intense, long-lasting results.</p>
      <p>Break and smash the pigment with spatula and store in second life container. Dig in and play fearlessly.</p>
    </div>
  </div>

  <div class="thumbnailContainer clearfix">
    <%= image_tag "product/productImage1.jpg", class: "productThumb productImage1" %>
    <%= image_tag "product/productImage2.jpg", class: "productThumb productImage2" %>
    <%= image_tag "product/productImage3.jpg", class: "productThumb productImage3" %>
    <%= image_tag "product/productImage4.jpg", class: "productThumb productImage4" %>
    <%#= image_tag "product/productImage5.jpg", class: "productThumb productImage5" %>
  </div>

  <div class="videoWrapper">
    <iframe src="https://player.vimeo.com/video/143704196" width="500" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>

<div id="modal2" class="modal modal--align-top modal__bg" role="dialog" aria-hidden="true">
	<div class="modal__dialog">
		<div class="modal__content">
      <form action="/purchases" method="POST" id="payment-form"
    data-type="charge"
    data-gateway-key="pk_test_6cbMwNi5VCVbHbIAAcmzXIdL"
    data-key="pk_test_kyhpqKz3ssMUsLbzsqWj"
    data-charge="<%= @chargeJSON %>"
    data-amount="4000"
    data-taxes="excluded">

      <span class="payment-errors"></span>
      <fieldset>
        <legend>Customer Information</legend>
        <div class="form-row">
          <label>
            <span>* First Name / Company Name</span>
            <input data-quaderno="first-name" name="first-name" />
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>* Last Name / Company Contact</span>
            <input data-quaderno="last-name" name="last-name" />
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>* Email</span>
            <input data-quaderno="email" name="email-address" />
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>* Phone Number</span>
            <input type="tel" name="phone-number" />
          </label>
        </div>
      </fieldset>

      <fieldset>
        <legend>Billing Address</legend>
        <div class="form-row">
          <label>
            <span>Street Line 1</span>
            <input data-quaderno="street-line-1" name="street-line-1" />
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Street Line 2</span>
            <input data-quaderno="street-line-2" name="street-line-2" />
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>City</span>
            <input data-quaderno="city" name="city" />
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>State / Region</span>
            <input data-quaderno="region" name="region" />
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Postal Code</span>
            <input data-quaderno="postal-code" name="postal-code" />
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Country</span>
            <select data-quaderno="country" name="country">
              <option value="AF">Afghanistan</option>
                <option value="AX">Åland Islands</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antarctica</option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia, Plurinational State of</option>
                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                <option value="BA">Bosnia and Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BV">Bouvet Island</option>
                <option value="BR">Brazil</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="BN">Brunei Darussalam</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CX">Christmas Island</option>
                <option value="CC">Cocos (Keeling) Islands</option>
                <option value="CO">Colombia</option>
                <option value="CG">Congo</option>
                <option value="CD">Congo, the Democratic Republic of the</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CI">Côte d'Ivoire</option>
                <option value="HR">Croatia</option>
                <option value="CW">Curaçao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="TF">French Southern Territories</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GG">Guernsey</option>
                <option value="GN">Guinea</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HM">Heard Island and McDonald Islands</option>
                <option value="VA">Holy See (Vatican City State)</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IQ">Iraq</option>
                <option value="IE">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JE">Jersey</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KR">Korea, Republic of</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Lao People's Democratic Republic</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macao</option>
                <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                <option value="MG">Madagascar</option>
                <option value="MW">Malawi</option>
                <option value="MY">Malaysia</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="MX">Mexico</option>
                <option value="FM">Micronesia, Federated States of</option>
                <option value="MD">Moldova, Republic of</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="ME">Montenegro</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="NA">Namibia</option>
                <option value="NP">Nepal</option>
                <option value="NL">Netherlands</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NF">Norfolk Island</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau</option>
                <option value="PS">Palestinian Territory, Occupied</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PN">Pitcairn</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="RE">Réunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russian Federation</option>
                <option value="RW">Rwanda</option>
                <option value="BL">Saint Barthélemy</option>
                <option value="KN">Saint Kitts and Nevis</option>
                <option value="LC">Saint Lucia</option>
                <option value="MF">Saint Martin (French part)</option>
                <option value="VC">Saint Vincent and the Grenadines</option>
                <option value="WS">Samoa</option>
                <option value="SM">San Marino</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SG">Singapore</option>
                <option value="SX">Sint Maarten (Dutch part)</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="ZA">South Africa</option>
                <option value="GS">South Georgia and the South Sandwich Islands</option>
                <option value="SS">South Sudan</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SR">Suriname</option>
                <option value="SJ">Svalbard and Jan Mayen</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="TW">Taiwan, Province of China</option>
                <option value="TZ">Tanzania, United Republic of</option>
                <option value="TH">Thailand</option>
                <option value="TL">Timor-Leste</option>
                <option value="TG">Togo</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US" selected>United States</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VE">Venezuela, Bolivarian Republic of</option>
                <option value="VN">Viet Nam</option>
                <option value="VG">Virgin Islands, British</option>
                <option value="VI">Virgin Islands, U.S.</option>
                <option value="WF">Wallis and Futuna</option>
                <option value="EH">Western Sahara</option>
                <option value="YE">Yemen</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
            </select>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>VAT Number</span>
            <input data-quaderno="vat-number" name="vat-number" />
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Ship to this address?</span>
            <select name="shipping-same" id="shippingSelect">
              <option value="shipping-true">Yes</option>
              <option value="shipping-false">No</option>
            </select>
          </label>
        </div>
      </fieldset>


      <fieldset class="shippingField">
      <legend>Shipping Address</legend>
      <div class="form-row">
        <label>
          <span>Street Line 1</span>
          <input name="shipping-street-line-1" />
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>Street Line 2</span>
          <input name="shipping-street-line-2" />
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>City</span>
          <input name="shipping-city" />
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>Postal Code</span>
          <input name="shipping-postal-code" />
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>State / Region</span>
          <input name="shipping-region" />
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>Country</span>
          <select name="shipping-country">
            <option value="AF">Afghanistan</option>
            <option value="AX">Åland Islands</option>
            <option value="AL">Albania</option>
            <option value="DZ">Algeria</option>
            <option value="AS">American Samoa</option>
            <option value="AD">Andorra</option>
            <option value="AO">Angola</option>
            <option value="AI">Anguilla</option>
            <option value="AQ">Antarctica</option>
            <option value="AG">Antigua and Barbuda</option>
            <option value="AR">Argentina</option>
            <option value="AM">Armenia</option>
            <option value="AW">Aruba</option>
            <option value="AU">Australia</option>
            <option value="AT">Austria</option>
            <option value="AZ">Azerbaijan</option>
            <option value="BS">Bahamas</option>
            <option value="BH">Bahrain</option>
            <option value="BD">Bangladesh</option>
            <option value="BB">Barbados</option>
            <option value="BY">Belarus</option>
            <option value="BE">Belgium</option>
            <option value="BZ">Belize</option>
            <option value="BJ">Benin</option>
            <option value="BM">Bermuda</option>
            <option value="BT">Bhutan</option>
            <option value="BO">Bolivia, Plurinational State of</option>
            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
            <option value="BA">Bosnia and Herzegovina</option>
            <option value="BW">Botswana</option>
            <option value="BV">Bouvet Island</option>
            <option value="BR">Brazil</option>
            <option value="IO">British Indian Ocean Territory</option>
            <option value="BN">Brunei Darussalam</option>
            <option value="BG">Bulgaria</option>
            <option value="BF">Burkina Faso</option>
            <option value="BI">Burundi</option>
            <option value="KH">Cambodia</option>
            <option value="CM">Cameroon</option>
            <option value="CA">Canada</option>
            <option value="CV">Cape Verde</option>
            <option value="KY">Cayman Islands</option>
            <option value="TD">Chad</option>
            <option value="CL">Chile</option>
            <option value="CN">China</option>
            <option value="CX">Christmas Island</option>
            <option value="CC">Cocos (Keeling) Islands</option>
            <option value="CO">Colombia</option>
            <option value="CG">Congo</option>
            <option value="CD">Congo, the Democratic Republic of the</option>
            <option value="CK">Cook Islands</option>
            <option value="CR">Costa Rica</option>
            <option value="CI">Côte d'Ivoire</option>
            <option value="HR">Croatia</option>
            <option value="CW">Curaçao</option>
            <option value="CY">Cyprus</option>
            <option value="CZ">Czech Republic</option>
            <option value="DK">Denmark</option>
            <option value="DJ">Djibouti</option>
            <option value="DM">Dominica</option>
            <option value="DO">Dominican Republic</option>
            <option value="EC">Ecuador</option>
            <option value="EG">Egypt</option>
            <option value="SV">El Salvador</option>
            <option value="ER">Eritrea</option>
            <option value="EE">Estonia</option>
            <option value="ET">Ethiopia</option>
            <option value="FO">Faroe Islands</option>
            <option value="FJ">Fiji</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>
            <option value="GF">French Guiana</option>
            <option value="PF">French Polynesia</option>
            <option value="TF">French Southern Territories</option>
            <option value="GA">Gabon</option>
            <option value="GM">Gambia</option>
            <option value="GE">Georgia</option>
            <option value="DE">Germany</option>
            <option value="GH">Ghana</option>
            <option value="GI">Gibraltar</option>
            <option value="GR">Greece</option>
            <option value="GL">Greenland</option>
            <option value="GD">Grenada</option>
            <option value="GP">Guadeloupe</option>
            <option value="GU">Guam</option>
            <option value="GT">Guatemala</option>
            <option value="GG">Guernsey</option>
            <option value="GN">Guinea</option>
            <option value="GY">Guyana</option>
            <option value="HT">Haiti</option>
            <option value="HM">Heard Island and McDonald Islands</option>
            <option value="VA">Holy See (Vatican City State)</option>
            <option value="HN">Honduras</option>
            <option value="HK">Hong Kong</option>
            <option value="HU">Hungary</option>
            <option value="IS">Iceland</option>
            <option value="IN">India</option>
            <option value="ID">Indonesia</option>
            <option value="IQ">Iraq</option>
            <option value="IE">Ireland</option>
            <option value="IM">Isle of Man</option>
            <option value="IL">Israel</option>
            <option value="IT">Italy</option>
            <option value="JM">Jamaica</option>
            <option value="JP">Japan</option>
            <option value="JE">Jersey</option>
            <option value="JO">Jordan</option>
            <option value="KZ">Kazakhstan</option>
            <option value="KE">Kenya</option>
            <option value="KR">Korea, Republic of</option>
            <option value="KW">Kuwait</option>
            <option value="KG">Kyrgyzstan</option>
            <option value="LA">Lao People's Democratic Republic</option>
            <option value="LV">Latvia</option>
            <option value="LB">Lebanon</option>
            <option value="LS">Lesotho</option>
            <option value="LR">Liberia</option>
            <option value="LY">Libya</option>
            <option value="LI">Liechtenstein</option>
            <option value="LT">Lithuania</option>
            <option value="LU">Luxembourg</option>
            <option value="MO">Macao</option>
            <option value="MK">Macedonia, the former Yugoslav Republic of</option>
            <option value="MG">Madagascar</option>
            <option value="MW">Malawi</option>
            <option value="MY">Malaysia</option>
            <option value="MV">Maldives</option>
            <option value="ML">Mali</option>
            <option value="MT">Malta</option>
            <option value="MH">Marshall Islands</option>
            <option value="MQ">Martinique</option>
            <option value="MR">Mauritania</option>
            <option value="MU">Mauritius</option>
            <option value="MX">Mexico</option>
            <option value="FM">Micronesia, Federated States of</option>
            <option value="MD">Moldova, Republic of</option>
            <option value="MC">Monaco</option>
            <option value="MN">Mongolia</option>
            <option value="ME">Montenegro</option>
            <option value="MS">Montserrat</option>
            <option value="MA">Morocco</option>
            <option value="MZ">Mozambique</option>
            <option value="NA">Namibia</option>
            <option value="NP">Nepal</option>
            <option value="NL">Netherlands</option>
            <option value="NC">New Caledonia</option>
            <option value="NZ">New Zealand</option>
            <option value="NI">Nicaragua</option>
            <option value="NE">Niger</option>
            <option value="NG">Nigeria</option>
            <option value="NF">Norfolk Island</option>
            <option value="MP">Northern Mariana Islands</option>
            <option value="NO">Norway</option>
            <option value="OM">Oman</option>
            <option value="PK">Pakistan</option>
            <option value="PW">Palau</option>
            <option value="PS">Palestinian Territory, Occupied</option>
            <option value="PA">Panama</option>
            <option value="PG">Papua New Guinea</option>
            <option value="PY">Paraguay</option>
            <option value="PE">Peru</option>
            <option value="PH">Philippines</option>
            <option value="PN">Pitcairn</option>
            <option value="PL">Poland</option>
            <option value="PT">Portugal</option>
            <option value="PR">Puerto Rico</option>
            <option value="QA">Qatar</option>
            <option value="RE">Réunion</option>
            <option value="RO">Romania</option>
            <option value="RU">Russian Federation</option>
            <option value="RW">Rwanda</option>
            <option value="BL">Saint Barthélemy</option>
            <option value="KN">Saint Kitts and Nevis</option>
            <option value="LC">Saint Lucia</option>
            <option value="MF">Saint Martin (French part)</option>
            <option value="VC">Saint Vincent and the Grenadines</option>
            <option value="WS">Samoa</option>
            <option value="SM">San Marino</option>
            <option value="SA">Saudi Arabia</option>
            <option value="SN">Senegal</option>
            <option value="RS">Serbia</option>
            <option value="SC">Seychelles</option>
            <option value="SG">Singapore</option>
            <option value="SX">Sint Maarten (Dutch part)</option>
            <option value="SK">Slovakia</option>
            <option value="SI">Slovenia</option>
            <option value="ZA">South Africa</option>
            <option value="GS">South Georgia and the South Sandwich Islands</option>
            <option value="SS">South Sudan</option>
            <option value="ES">Spain</option>
            <option value="LK">Sri Lanka</option>
            <option value="SR">Suriname</option>
            <option value="SJ">Svalbard and Jan Mayen</option>
            <option value="SZ">Swaziland</option>
            <option value="SE">Sweden</option>
            <option value="CH">Switzerland</option>
            <option value="TW">Taiwan, Province of China</option>
            <option value="TZ">Tanzania, United Republic of</option>
            <option value="TH">Thailand</option>
            <option value="TL">Timor-Leste</option>
            <option value="TG">Togo</option>
            <option value="TO">Tonga</option>
            <option value="TT">Trinidad and Tobago</option>
            <option value="TN">Tunisia</option>
            <option value="TR">Turkey</option>
            <option value="TC">Turks and Caicos Islands</option>
            <option value="UG">Uganda</option>
            <option value="UA">Ukraine</option>
            <option value="AE">United Arab Emirates</option>
            <option value="GB">United Kingdom</option>
            <option value="US" selected>United States</option>
            <option value="UM">United States Minor Outlying Islands</option>
            <option value="UY">Uruguay</option>
            <option value="UZ">Uzbekistan</option>
            <option value="VU">Vanuatu</option>
            <option value="VE">Venezuela, Bolivarian Republic of</option>
            <option value="VN">Viet Nam</option>
            <option value="VG">Virgin Islands, British</option>
            <option value="VI">Virgin Islands, U.S.</option>
            <option value="WF">Wallis and Futuna</option>
            <option value="EH">Western Sahara</option>
            <option value="YE">Yemen</option>
            <option value="ZM">Zambia</option>
            <option value="ZW">Zimbabwe</option>
          </select>
        </label>
      </div>
    </fieldset>



      <fieldset>
        <legend>Credit Card Data</legend>
        <div class="form-row">
          <label>
            <span>* Card Number</span>
            <input class="card-number" data-quaderno="number"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>* CVC</span>
            <input class="card-cvc" data-quaderno="cvc" type="password"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>* Expiration (MM/YYYY)</span>
            <input class="card-expiry-month" type="text" size="2" data-quaderno="exp-month"/>
          </label>
          <span> / </span>
          <input class="card-expiry-year" type="text" size="4" data-quaderno="exp-year"/>
        </div>
      </fieldset>

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="product-name" value="Gold 001">

      <p>Subtotal: $<span class="quaderno-subtotal"></span></p>
      <p>Taxes: $<span class="quaderno-taxes"></span></p>
      <p>Total: $<span class="quaderno-total"></span></p>

      <button type="submit" id="pay-now">Pay Now</button>
    </form>
				<!-- modal close button -->
				<a href="" class="modal__close demo-close">
					<svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
				</a>
			</div>
		</div>
	</div>

<script type="text/javascript">
  // EXAMPLE 2 with custom form.

  var stripeResponseHandler = function(status, response) {
    var $form = $('#payment-form');
    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" data-quaderno="cardToken" />').val(token));
      $form.append($('<input type="hidden" name="stripe-token" />').val(token));
      // create the charge in Stripe via Quaderno and submit
      Quaderno.createCharge({
        success: function(status, response){
          // response contains the message and the Stripe customer id
          $form.append($('<input type="hidden" name="transactionDetails" data-quaderno="transactionDetails" />').val(response.details));
          // and re-submit the form
          $form.get(0).submit();
        },
        error: function(status, response){
          $form.find('.payment-errors').text(response.message);
          $form.find('button').prop('disabled', false);
        }
      });
    }
  };
  jQuery(function($) {
    $('#pay-now').click(function(e) {
      Quaderno.init('#payment-form');
      var $form = $(this);
      // This identifies your website in the createToken call below
      // Stripe.setPublishableKey($(this).data('gateway-key'));
      Stripe.setPublishableKey("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");
      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);
      // Get the card token from Stripe
      Stripe.card.createToken({
        number: $('.card-number').val(),
        cvc: $('.card-cvc').val(),
        exp_month: $('.card-expiry-month').val(),
        exp_year: $('.card-expiry-year').val()
      }, stripeResponseHandler);
      // Prevent the form from submitting with the default action
      return false;
    });
  });
</script>


<script type="text/javascript">
var Modal = (function() {

var trigger = $qsa('.modal__trigger'); // what you click to activate the modal
var modals = $qsa('.modal'); // the entire modal (takes up entire window)
var modalsbg = $qsa('.modal__bg'); // the entire modal (takes up entire window)
var content = $qsa('.modal__content'); // the inner content of the modal
var closers = $qsa('.modal__close'); // an element used to close the modal
var w = window;
var isOpen = false;
var contentDelay = 400; // duration after you click the button and wait for the content to show
var len = trigger.length;

// make it easier for yourself by not having to type as much to select an element
function $qsa(el) {
  return document.querySelectorAll(el);
}

var getId = function(event) {

  event.preventDefault();
  var self = this;
  // get the value of the data-modal attribute from the button
  var modalId = self.dataset.modal;
  var len = modalId.length;
  // remove the '#' from the string
  var modalIdTrimmed = modalId.substring(1, len);
  // select the modal we want to activate
  var modal = document.getElementById(modalIdTrimmed);
  // execute function that creates the temporary expanding div
  makeDiv(self, modal);
};

var makeDiv = function(self, modal) {

  var fakediv = document.getElementById('modal__temp');

  /**
   * if there isn't a 'fakediv', create one and append it to the button that was
   * clicked. after that execute the function 'moveTrig' which handles the animations.
   */

  if (fakediv === null) {
    var div = document.createElement('div');
    div.id = 'modal__temp';
    self.appendChild(div);
    moveTrig(self, modal, div);
  }
};

var moveTrig = function(trig, modal, div) {
  var trigProps = trig.getBoundingClientRect();
  var m = modal;
  var mProps = m.querySelector('.modal__content').getBoundingClientRect();
  var transX, transY, scaleX, scaleY;
  var xc = w.innerWidth / 2;
  var yc = w.innerHeight / 2;

  // this class increases z-index value so the button goes overtop the other buttons
  trig.classList.add('modal__trigger--active');

  // these values are used for scale the temporary div to the same size as the modal
  scaleX = mProps.width / trigProps.width;
  scaleY = mProps.height / trigProps.height;

  scaleX = scaleX.toFixed(3); // round to 3 decimal places
  scaleY = scaleY.toFixed(3);


  // these values are used to move the button to the center of the window
  transX = Math.round(xc - trigProps.left - trigProps.width / 2);
  transY = Math.round(yc - trigProps.top - trigProps.height / 2);

  // if the modal is aligned to the top then move the button to the center-y of the modal instead of the window
  if (m.classList.contains('modal--align-top')) {
    transY = Math.round(mProps.height / 2 + mProps.top - trigProps.top - trigProps.height / 2);
  }


  // translate button to center of screen
  trig.style.transform = 'translate(' + transX + 'px, ' + transY + 'px)';
  trig.style.webkitTransform = 'translate(' + transX + 'px, ' + transY + 'px)';
  // expand temporary div to the same size as the modal
  div.style.transform = 'scale(' + scaleX + ',' + scaleY + ')';
  div.style.webkitTransform = 'scale(' + scaleX + ',' + scaleY + ')';


  window.setTimeout(function() {
    window.requestAnimationFrame(function() {
      open(m, div);
    });
  }, contentDelay);

};

var open = function(m, div) {

  if (!isOpen) {
    // select the content inside the modal
    var content = m.querySelector('.modal__content');
    // reveal the modal
    m.classList.add('modal--active');
    // reveal the modal content
    content.classList.add('modal__content--active');

    /**
     * when the modal content is finished transitioning, fadeout the temporary
     * expanding div so when the window resizes it isn't visible ( it doesn't
     * move with the window).
     */

    content.addEventListener('transitionend', hideDiv, false);

    isOpen = true;
  }

  function hideDiv() {
    // fadeout div so that it can't be seen when the window is resized
    div.style.opacity = '0';
    content.removeEventListener('transitionend', hideDiv, false);
  }
};

var close = function(event) {

  event.preventDefault();
  event.stopImmediatePropagation();

  var target = event.target;
  var div = document.getElementById('modal__temp');

  /**
   * make sure the modal__bg or modal__close was clicked, we don't want to be able to click
   * inside the modal and have it close.
   */

  if (isOpen && target.classList.contains('modal__bg') || target.classList.contains('modal__close')) {

    // make the hidden div visible again and remove the transforms so it scales back to its original size
    div.style.opacity = '1';
    div.removeAttribute('style');

    /**
    * iterate through the modals and modal contents and triggers to remove their active classes.
    * remove the inline css from the trigger to move it back into its original position.
    */

    for (var i = 0; i < len; i++) {
      modals[i].classList.remove('modal--active');
      content[i].classList.remove('modal__content--active');
      trigger[i].style.transform = 'none';
      trigger[i].style.webkitTransform = 'none';
      trigger[i].classList.remove('modal__trigger--active');
    }

    // when the temporary div is opacity:1 again, we want to remove it from the dom
    div.addEventListener('transitionend', removeDiv, false);

    isOpen = false;

  }

  function removeDiv() {
    setTimeout(function() {
      window.requestAnimationFrame(function() {
        // remove the temp div from the dom with a slight delay so the animation looks good
        div.remove();
      });
    }, contentDelay - 50);
  }

};

var bindActions = function() {
  for (var i = 0; i < len; i++) {
    trigger[i].addEventListener('click', getId, false);
    closers[i].addEventListener('click', close, false);
    modalsbg[i].addEventListener('click', close, false);
  }
};

var init = function() {
  bindActions();
};

return {
  init: init
};

}());

Modal.init();
</script>

<script type="text/javascript">
  // QUADERNO/STRIPE START
</script>


<footer>
  <a class="list-group-item" target="_blank" href="https://instagram.com/patmcgrathreal/"><i class="fa fa-instagram"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://www.facebook.com/PatMcGrathReal"><i class="fa fa-facebook-square"></i>&nbsp;</a>
  <a class="list-group-item" target="_blank" href="https://twitter.com/patmcgrathreal"><i class="fa fa-twitter"></i>&nbsp;</a>
  <div class="footerBranding">
    &#35;Gold001 <span>|</span> <a href="mailto:contact@patmcgrath.com" target="_top">Contact</a> <span>|</span> Waiting List:

    <%= form_tag('/mcsubscribe/subscribe', method: "post", id: "mcsubscribe", remote: "true",:authenticity_token => true) do -%>
    <!-- <p>&lt; &nbsp;sign up for priority access&nbsp; &gt;</p> -->
    <%= email_field(:email, :address, {id: "email", placeholder: "enter email"}) %>
      <input id="subscribe" type="submit">
      <!-- <button type="button" id="subscribe">SUBMIT</button> -->
    <% end %>
    <span class="newsletterConfirmation"></span>
  </div>
</footer>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://js.quaderno.io/v2/"></script>

<script type="text/javascript">
$('#shippingSelect').change(function() {
if ($(this).val() === 'shipping-false') {
  $('.shippingField').css('display', 'block');
} else {
  $('.shippingField').css('display', 'none');
}
});
</script>
